@model List<Destination>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<section class="w3l-cta4 py-5">
      <div class="container py-lg-5">
        <div class="ab-section text-center">
          <h6 class="sub-title">Hakkımızda</h6>
          <h3 class="hny-title">30 Yıllık Tecrübe, Seyahatte Değişmeyen Adres: Traversal</h3>
          <p class="py-3 mb-3">Tatiliniz için size en iyi fırsatları sunmaya çalışan Fırat bey ve uzman ekibi, bu yolda, her zaman rehberiniz olmaktan gurur duyar. Mutlu tatiller dileriz.</p>
        </div>
        <div class="row mt-5">
          <div class="col-md-9 mx-auto">
            <img src="~/Traversal-Liberty/assets/images/banner3.jpg" class="img-fluid" alt="">
          </div>
        </div>
      </div>
  </section>
